* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
body{
    margin: 0px;
}
.root {
    margin-top: 67px;
    margin-bottom: 90px;
}

.topo {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67px;
    font-size: 34px;
    color: #E8833A;
    background-color: #a2bfd7;
    box-shadow: 0px 0px 9px 2px black;
    position: fixed;
    top: 0px;
    left: 0px;
}

.txt-selecione-filme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    font-size: 24px;

}

.blocofilmes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 400px;
    flex-wrap: wrap;
}


.filme {
    width: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: aliceblue;
    border-radius: 4px;
    box-shadow: 0px 0px 9px 2px black;
    margin-bottom: 26px;

}

.filme:hover{
    transform: scale(1.1)
}

.bloco-horario {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 400;
}

.bloco-horario .bloco-hora {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.bloco-hora div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hora {
    width: 83px;
    height: 43px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #E8833A;
    border-radius: 5px;
    cursor: pointer;
}

.teste {
    width: 42%;
    margin: 0 10px 0 10px;
}

.faixa-centraliza {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.assentos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;

}

.assento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    margin: 12px 3.5px;
    background-color: #C3CFD9;
    border-color: #7B8B99;
}

.space-betweem {
    display: flex;
    justify-content: center;
    width: 60%;
}

.selecionado {
    display: flex;
    justify-content: space-between;
    width: 50%;
    width: 30px;
    height: 30px;
    font-size: 11px;
    background-color: #8DD7CF;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #1AAE9E;
    margin: 18px 7px;
}


.disponivel {
    display: flex;
    justify-content: space-between;
    width: 50%;
    width: 30px;
    height: 30px;
    font-size: 11px;
    background-color: #C3CFD9;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #7B8B99;
    margin: 18px 7px;
}

.cor-disponivel {
    background-color: #C3CFD9;
    border-color: #7B8B99;
}

.indisponivel {
    width: 30px;
    height: 30px;
    font-size: 11px;
    background-color: #FBE192;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #F7C52B;
    margin: 18px 7px;
}

.cor-indisponivel {
    border-color: #F7C52B;
    background-color: #FBE192;
}

.bloco-input {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.input {
    width: 90%;
    height: 51px;
}

.centraliza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    margin-left: 9px;
}

.button {
    width: 225px;
    height: 42px;
    background-color: #E8833A;
    color: white;
    border: 3px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
}

.txt-pedido-efetuado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    font-size: 24px;
    color: #247A6B;
    font-weight: 700;
    font-size: 24px;
}

.titulo {
    font-size: 20px;
    font-weight: 700;
    color: #293845;
    margin-bottom: 5px;
}

.bloco-finalizacao {
    margin-bottom: 35px;
}

.txt-finalizacao {
    font-size: 17px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 400;
    color: #293845;
}

.bloco-geral {
    margin-left: 15px;
}

.rodape {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 89px;
    background-color: #9EADBA;
    padding-left: 25px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.img-filme {
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    border-radius: 4px;
    box-shadow: 0px 0px 9px 2px black;
    width: 50px;
    height: 72px;
}

.txt-rodape {
    font-size: 26px;
    font-weight: 400;
    line-height: 22px;
    color: #293845;
    margin: 4px 10px;
}

.cor-selecionado {
    border-color: #1AAE9E;
    background-color: #8DD7CF;
}

@media (min-width: 530px) {
	.teste{
		width: 240px;
	}
}